url: https://rtov.github.io/
baseurl:

# Site settings
title: R2V
email: info@r2v.io
description: ""
logo: img/r2v-logo.png


# Team names, titles and social links
people:
- name: Kay Garland
  pic: 1
  position: Lead Designer
  social:
    - title: twitter
      url: #
    - title: facebook
      url: #
    - title: stack-overflow
      url: #

- name: Larry Parker
  pic: 2
  position: Lead Marketer
  social:
    - title: twitter
      url: #
    - title: facebook
      url: #
    - title: linkedin
      url: #

- name: Diana Petersen
  pic: 3
  position: Lead Developer
  social:
    - title: twitter
      url: #
    - title: facebook
      url: #
    - title: google-plus
      url: #

# Social networks usernames (many more available: google-plus, flickr, dribbble, pinterest, instagram, tumblr, linkedin, etc.)
social:
  - title: twitter
    url: http://twitter.com/r2vblockchain
  - title: facebook
    url: https://www.facebook.com/r2vblockchain/
  - title: stack-overflow
    url: http://stackoverflow.com/questions/tagged/jekyll
  - title: bitbucket 
    url: http://bitbucket.org/jekyll
  - title: github
    url: http://github.com/rtov

# Postal address (add as many lines as necessary)
address:
  - line: Pureun Bldg, 581 Gangnam-daero, Seocho-gu
  - line: Seoul, Republic of Korea

# Build settings
markdown: kramdown
permalink: pretty