nav .navbar-brand img{
    height: 60px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

@media(min-width:768px) {
    nav .navbar-brand img{
        height: 80px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
}

nav.navbar-shrink .navbar-brand img {
    height: 60px;
}

nav > div > div.navbar-header.page-scroll > a {
    padding: 0;
}

#contact .email {
    color: black;
}

.wash {
    background: rgba(0,0,0,.3);
    height: 100%;
}